html {
  overflow-y: scroll;
  /* min-width: 445px; */
}

body {
  display: grid;
  place-content: center center;
  min-height: 100dvh;
  margin: 0;
  padding: 0;
}

@view-transition {
  navigation: auto;
}

.zaddy {
  background-color: var(--bs-purple) !important;
}

header a {
  text-decoration: none;
}

div.navbar.navbar-dark {
  background-color: #131313 !important;
}

/* do not allow svgs inside of buttons to capture mouse events (let them bubble up to the button itself) */
button.capture > svg, button.capture > svg > path, button.capture > span, a.capture > svg, a.capture > svg > path {
  pointer-events: none;
}

.pending-load {
  /* filter: opacity(0); */
  display: none;
}

#content-missing-msg svg, #content-blocked-msg svg {
  color: #a00;
  width: 50px;
  height: 50px;
}

@media (prefers-color-scheme: dark) {
  html[data-bs-theme="dark"] .form-control:disabled,
  html[data-bs-theme="dark"] .form-control[readonly] {
    background-color: #333 !important;
    color: #c2c2c2 !important;
  }

  html[data-bs-theme="dark"] .page-link:not(.disabled) {
    background-color: #2b2b2b;
    color: #3877b8;
  }
}

.text-justify {
  text-align: justify;
}


/* styling for squares when marked */
html[data-bs-theme="dark"] bingo-square.marked-square {
  background-color: rgb(120, 30, 30);
  color: white;
}

html[data-bs-theme="light"] bingo-square.marked-square {
  background-color: rgb(150, 0, 0);
  color: white;
}

/* The lizzer and coeurl backgrounds have yet to play nice. */
.lizzer {
  background: 100% 105% / 50% no-repeat url("../images/ren_lizzer_sploot.png")
}

.coeurl {
  background: 10% -60% / 50% no-repeat url("../images/ren_coeurl_cid.png")
}

/* TLB -- start */
/* TLB -- start */
/* TLB -- start */
.coeurl {
	display: grid;
	min-height: 100%;
	place-content: center center;

	gap: 3vmin;
}

#bingo-card {
  border-radius: 1vmin;
  padding: 1.5vmin;

  display: grid;
  gap: 0.5vmin;

  --max-size: 85vmin;

  --top-color: orange;
  --middle-color: #888;
  --bottom-color: pink;
  --card-text: white;
  --match-color: rgba(85, 0, 53, 0.8);
  --match-text: white;

  background-color: var(--middle-color);

  background-image: linear-gradient(
      120deg,
      var(--top-color) 0%,
      transparent 25%,
      transparent 75%,
      var(--bottom-color) 100%
    ),
    linear-gradient(
      90deg,
      var(--top-color) -10%,
      transparent 5%,
      transparent 95%,
      var(--bottom-color) 110%
    );
}

#bingo-header {
  width: var(--max-size);
  display: grid;
  gap: 0.5vmin;

  grid-template-columns: repeat(5, 1fr);

  & > * {
    display: grid;
    text-align: center;
    place-content: center center;
    font-size: 5vmin;
    background: #000000dd;
    color: white;

    border-radius: 0.5vmin;

    & > h3 {
      margin: 1vmin;
      padding: auto;
    }
  }
}

#bingo-frame {
  width: var(--max-size);
  display: grid;
  gap: 0.5vmin;
  grid-template-columns: repeat(5, 1fr);

  & > bingo-square {
    aspect-ratio: 1;
    background: #000000aa;
    word-wrap: balanced;
    text-wrap: wrap;
    display: grid;
    text-align: center;
    place-content: center center;
    font-size: 2.35vmin;

    border-radius: 0.5vmin;
    border: solid #00000055 0.3vmin;
    padding: 1vmin;
    overflow: hidden;
	  cursor: pointer;

    color: var(--card-text);
    transition: none 150ms;
    transition-property: color, background;


    &.marked-square {
      color: var(--match-text);
      background: var(--match-color);
    }

    &[data-id=bingo-square-num-12]{
      font-size: 3vmin;
      font-weight: bold;
    }
  }
}
